NickyLocalImagePicker.xcodeproj/xcuserdata/nickytsui.xcuserdatad/xcschemes/NickyLocalImagePicker.xcscheme
NickyLocalImagePicker.xcodeproj/xcuserdata/nickytsui.xcuserdatad/xcschemes/xcschememanagement.plist
